$green: #cbd966;
$green: #93efec;

$hot: #e92444;
$hot: #e95d74;
// $hot: #facf3b;

$hot-light: #ffd8de;
$hot-light: #fff1c1;

$body: #3f464c;

html {
  box-sizing: border-box;
}

html, #app {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  position: relative;
  color: #3f464c;
  margin: 0;
  padding-top: 0.1px;
  box-sizing: border-box;
  font-family: Source Sans Pro;
  background:url(/images/watercolor.png);
}

h1, h2 {
  margin: 0 0 1rem;
}

#app {
  height: calc(100% - 7rem);
}

.app {
  height: 100%;
  margin: 0 auto;
}

.head {
  background: $hot;
  padding: 1em 0;
  margin: 0 0 1.5em;
  a {
    letter-spacing: .1rem;
    color: white;
    text-decoration: none;
    font-weight: 900;
    font-size: 2rem;
    font-family: Raleway;
  }
}

.container {
  max-width: 60em;
  margin: 0 auto;
  height: 100%;
}

.container.grid {
  display: grid;
  grid-template-columns: 1.25fr 3fr;
  grid-column-gap: 1.5rem;
  column-gap: 1.5rem;
}

.side {
  background: #30c8d9;
  padding: 1.25rem;
  border-radius: .25rem;
  border-top: 1rem solid $green;
  border-bottom: 1rem solid $green;
}

.main {  
  background: $hot-light;
  padding: 1.25rem;
  border-radius: .25rem;
  border-top: 1rem solid $hot;
  border-bottom: 1rem solid $hot;
  
}

.todo, h2 {
  cursor: pointer;
  //border-radius: .25rem;
  &:hover {
    background: white;
  }

  form {
    display: inline-block;
    width: calc(100% - 4em);
  }
  i {
    margin-left: .5rem;
  }
}


.todos {
  list-style: none;
  margin: 0 0;
  padding: 0;
}

.todo {
  padding: .5rem;
  background: white;
  margin-bottom: 1px;

  &:last-child {
    border-bottom: none;
  }
  &:hover {
    background: $hot;
    color: white;
  }

  &.done {
    font-style: italic;
    color: #aaa;
  }
}

.todo-list h2 {
  margin: 0 -.5rem 1rem;
  padding: 0 .5rem;
}

.todo-lists {
  form {
    margin-bottom: 1rem;
  }
  
  .todo-list {
    margin-bottom: 1px;
    a {
      color: #155961;
      text-decoration: none;
      padding: .5rem;
      background: rgba(255,255,255,0.5);
      display: block;
      //border-radius:.25rem;
      &:hover {
        background: white;
      }
    }
  }

}

.home {
  max-width: 90%;
  margin: 2rem auto;
}

.todo-list-summary {
  a {
    text-decoration: none;
    background: white;
    color: $hot;
    padding: 1rem;
    display: block;
    border: .25rem solid $hot;
    margin: 1rem 0;
    font-weight: bold;
    &:hover {
      background: $hot;
      color: white;
    }
  }
}

.new-todo-list {
  form {
    margin-top: 1rem;
    border: 1rem solid $hot;
    padding: 1rem;
    background: white;
    border-radius: .5rem;
  }
}

.new-todo {
  margin-bottom: 1rem;
}

input[type=text], input[type=email], input[type=password],
input[type=search], input[type=number], textarea {
  font-size: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0,0,0,0.05);
  padding: .3em;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.5);
  width: 100%;
}

input[type=submit], a.submit, button {
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0 .75em;
  line-height: 2;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: .25rem;
  cursor: pointer;
  position: relative;
  transition: all 0.15s;

  &:active {
    outline: none;
  }
  &:focus {
    outline: none;
  }
  box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.4);
  //color: white;
  &:focus {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.6);
  }
}

input[type=submit] + .activity-indicator {
  margin-left: .5rem;
}

.todo-list a.active {
  background: white;
}

// fade
.fade-enter {
  opacity: 0.01;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0.01;
  transition: opacity 125ms ease-in;
}

// todo activity indicator
.todo {
  position: relative;
}

.todo .activity-indicator {
  float: right;
}

.todo .success-message, h2 .success-message {
  display: none;
}

// error messages
.error input {
  border: 5px solid #fffe93;
}

.error-messages {
  margin: 0 0 1rem;
  padding-left: 0;
  list-style: none;
  color: #fffe93;
}

.main {
  .error input {
    border-color: #b55478;
  }
  .error-messages {
    color: #b55478;
  }
}

.todo-checkbox {
  display: inline-block;
  margin-right: .25rem;
  padding: .25rem 0;
  border-radius: .25rem;
  width: 2rem;
  &:hover {
    background: white;
    color: $hot;
  }
}

@import "vendor/simplemde.min";
@import "vendor/simplemde.custom";
