html {
  box-sizing: border-box;
}

html, #app {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  position: relative;
  color: #3f464c;
  margin: 0;
  padding-top: 0.1px;
  box-sizing: border-box;
  font-family: Source Sans Pro;
}

#app {
  height: calc(100% - 3rem);
}

.app {
  height: 100%;
  max-width: 60em;
  margin: 0 auto;
  padding-top: 1rem;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 1rem;
  column-gap: 1rem;
}

.side {
  background: #30c8d9;
  padding: 1rem;
}

.main {
  background: #cbd966;
  padding: 1rem;
}

.todo, h2 {
  cursor: pointer;
  &:hover {
    background: white;
  }

  form {
    display: inline-block;
    width: calc(100% - 4em);
  }
  i {
    margin-left: .5rem;
  }
}

.todo-lists {
  form {
    margin-bottom: 1rem;
  }
  
  .todo-list {
    margin-bottom: 1px;
    a {
      color: #155961;
      text-decoration: none;
      padding: .5rem;
      background: rgba(255,255,255,0.5);
      display: block;
      &:hover {
        background: white;
      }
    }
  }

}

.new-todo {
  margin-bottom: 1rem;
}

.todos {
  list-style: none;
  margin: 0 0;
  padding: 0;
}

.todo {
  padding: .5rem;
  background: rgba(255,255,255,0.5);
  margin-bottom: 1px;
}

h2 {
  margin: 0 0 1rem;
}

input[type=text], input[type=email], input[type=password],
input[type=search], input[type=number], textarea {
  font-size: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0,0,0,0.05);
  padding: .3em;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.5);
  width: 100%;
}

input[type=submit], a.submit, button {
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0 .75em;
  line-height: 2;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: .25rem;
  cursor: pointer;
  position: relative;
  transition: all 0.15s;

  &:active {
    outline: none;
  }
  &:focus {
    outline: none;
  }
  box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.4);
  //color: white;
  &:focus {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.6);
  }
}

input[type=submit] + .activity-indicator {
  margin-left: .5rem;
}

.todo-list a.active {
  background: white;
}

// fade
.fade-enter {
  opacity: 0.01;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0.01;
  transition: opacity 125ms ease-in;
}

// todo activity indicator
.todo {
  position: relative;
}

.todo .activity-indicator {
  float: right;
}

.todo .success-message, :h2 .success-message {
  display: none;
}

// error messages
.error input {
  border: 5px solid #fffe93;
}

.error-messages {
  margin: 0 0 1rem;
  padding-left: 0;
  list-style: none;
  color: #fffe93;
}

.main {
  .error input {
    border-color: #b55478;
  }
  .error-messages {
    color: #b55478;
  }
}
