*.DS_Store
*.jar
*.log
.clj-kondo
.cpcache
.lein-env
.lein-failures
.lein-repl-history
.nrepl*
.sass-cache
.shadow-cljs
.vagrant
VERSION
deps.edn.local
dev/resources/local.edn
frontend-target
infrastructure/ansible/files/datomic
infrastructure/ansible/files/env
infrastructure/ansible/prod
logs
node_modules
out
public/js/cljs-runtime
public/js/main.js
public/js/manifest.edn
public/stylesheets/*
target
