target
.nrepl*
.lein-env
bower_components
*.DS_Store
node_modules
*.jar
.vagrant
infrastructure/ansible/files/env
infrastructure/ansible/prod
certs
ga-oauth-key*
logs
*.log
projects.edn
fontawesome*
fa-*
.shadow-cljs
public/js/main.js
public/js/manifest.edn
public/js/cljs-runtime
public/stylesheets/*
.cpcache
out
.lein-repl-history
frontend-target
page.png
.lein-failures
infrastructure/ansible/files/datomic
dev/resources/local.edn
VERSION
.sass-cache
*-test.png