{:duct.profile/base
 {:duct.core/project-ns  sweet-tooth.todo-example
  :duct.core/environment :production

  ;;-----------
  ;; middleware
  ;;-----------

  :duct.middleware.web/defaults
  {:static {:resources "public"}}

  :sweet-tooth.todo-example.backend.endpoint.static/handler {}

  :sweet-tooth.endpoint.middleware/format-exception
  {:include-data true}

  :duct.server.http/jetty
  {:port #duct/env ["HTTP_SERVER_PORT" Int :or 3000]}

  ;; datomic
  :sweet-tooth.endpoint.datomic/connection
  {:uri     #duct/env ["DATOMIC_URI" Str :or "datomic:free://localhost:4334/sweet-tooth-todo-example"]
   :create? true
   :schema  ["db/base/todo.edn"
             "db/base/todo-list.edn"]
   :data    []}

  :duct.logger/timbre
  {:level     :info
   :appenders {:duct.logger.timbre/println #ig/ref :duct.logger.timbre/println}}

  :duct.logger.timbre/println {}}
 ;; end base profile
 ;;-----------------

 ;;---------
 ;; profiles
 ;;---------
 :duct.profile/local #duct/include "local.edn"
 :duct.profile/dev   #duct/include "dev.edn"
 :duct.profile/test  #duct/include "test.edn"

 :duct.profile/local-staging
 {:duct.core/environment :local-staging

  :sweet-tooth.endpoint.datomic/connection
  {:uri #duct/env ["DATOMIC_URI" Str :or "datomic:free://localhost:4334/localhost"]}}
 ;; end local staging profile

 :duct.profile/staging
 {:duct.core/environment :staging

  :sweet-tooth.endpoint.datomic/connection
  {:uri #duct/env ["DATOMIC_URI" Str :or "datomic:free://localhost:4334/stte-staging"]}}
 ;; end staging profile


 :duct.profile/prod
 {:duct.core/environment :production

  :sweet-tooth.endpoint.datomic/connection
  {:uri #duct/env ["DATOMIC_URI" Str :or "datomic:free://localhost:4334/stte-prod"]}}

 ;;--------
 ;; modules
 ;;--------

 :duct.module/logging {}
 :duct.module.web/api {}

 :sweet-tooth.endpoint.module/liberator-reitit-router
 {:routes sweet-tooth.todo-example.cross.endpoint-routes/routes}

 :sweet-tooth.endpoint.module/middleware    {}
 :sweet-tooth.endpoint.module.datomic/tasks {}}
