{:duct.handler/root
 {:middleware ^:distinct [#ig/ref :sweet-tooth.todo-example.backend.duct/wrap-cors]}

 :sweet-tooth.todo-example.backend.duct/wrap-cors
 {:access-control-allow-origin  ".*"
  :access-control-allow-methods [:get :put :post :delete]}}
