{:duct.handler/root
 {:middleware ^:distinct [#ig/ref :sweet-tooth.endpoint.middleware/latency]}

 :sweet-tooth.endpoint.datomic/connection
 {:uri      #duct/env ["DATOMIC_URI" Str :or "datomic:mem://sweet-tooth-todo-example-dev"]
  :create?  true
  :migrate? true}

 :duct.logger/timbre
 {:appenders ^:replace {:duct.logger.timbre/brief #ig/ref :duct.logger.timbre/brief}}

 :duct.logger.timbre/brief
 {:min-level :debug}

 :duct.server.http/jetty
 {:port #duct/env ["HTTP_SERVER_PORT" Int :or 3010]}

 :sweet-tooth.endpoint.middleware/latency  {:sleep 400}}
